* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

.banniere {
    padding: 10px;
    position: fixed;
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
	z-index: 1000;
}

.construction-text {
    position: absolute;
    top: 50px;
    left: 50px;
	color: #e74c3c;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc transparent */
    padding: 5px; /* Espace autour du texte */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Surlignage blanc transparent */
    white-space: nowrap;
}


.carousel-item img{
	width: 100%;
	height: 93vh;


}


.horizontal-card-img img{
	width: 100%;
	height: 35vh;



}



.about_img{
	min-width: 100%;
	max-height: 280px;

}

.my-service img{
	width: 100%;
	height: 100%;
}

.chekcout-my-profile{
	background: #a6dcef;
}

footer p{
	margin-bottom: 0;
}


/*.my-service .row>*{
	padding-right: 0;
    padding-left: 0;
}*/

/*for responsive design*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }

.navbar {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-item {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
